body{
	background:#ccffff;
	font-family: 'Arial', sans-serif; 
	font-size: 15px;
}

#container {
	width:60%;
	background:#33ffff;
	margin: 20px auto;
	overflow: auto;
	padding:25px;
}

header {
	text-align: center;
	border-bottom: #fff dashed 1px;
}
 
 header h1 {
 	margin: 0;
 	padding: 0;
 }

 header p {
 	padding: 0;
 	margin-top:5px;
 	color: #000;
 }

 section {
 	min-height: 400px;
 	text-align: center;
 }

 footer{
 	text-align: center;

 }